<h2>Corona Virus Spread in <b>India</b></h2>
<mat-divider></mat-divider>
<stats-chart [stats]="indiaStats"></stats-chart>


<div fxLayout="row">
  <h2 style="flex: 1;">Countries Summary</h2>
  <button color="accent" mat-raised-button [matMenuTriggerFor]="menu"><mat-icon>sort</mat-icon> Sort</button>
  <mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item (click)="sort('Confirmed')">Confirmed</button>
    <button mat-menu-item (click)="sort('Deaths')">Deaths</button>
    <button mat-menu-item (click)="sort('Recovered')">Recovered</button>
  </mat-menu>
</div>
<mat-divider></mat-divider>
<mat-list *ngIf="sortedCountries$ | async as countries; else loading">
  <mat-list-item *ngFor="let country of countries; let i=index">
    <div class="country" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="truncate" fxFlex="25" fxFlex.lt-sm="40">{{ i + 1 }}. <span>{{ country.country }}</span></div>
      <div fxFlex="10" fxFlex.lt-sm="20"><div>Confirmed</div><div>{{ country.cases |number }}</div></div>
      <div fxFlex="10" fxFlex.lt-sm="20"><div>Deaths</div><div>{{ country.deaths |number }}</div></div>
      <div fxFlex="10" fxFlex.lt-sm="20"><div>Recovered</div><div>{{ country.recovered |number }}</div></div>
    </div>
  </mat-list-item>
</mat-list>
<div class="view-more" *ngIf="showOnly < 225">
  <button color="accent" mat-raised-button (click)="showMore()">More...</button>
</div>
<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>