<div fxLayout="row">
  <h2 style="flex: 1;">Countries Summary</h2>
  <button color="accent" mat-raised-button [matMenuTriggerFor]="menu"><mat-icon>sort</mat-icon> Sort</button>
  <mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item (click)="sort('Confirmed')">Confirmed</button>
    <button mat-menu-item (click)="sort('Deaths')">Deaths</button>
    <button mat-menu-item (click)="sort('Recovered')">Recovered</button>
  </mat-menu>
</div>
<mat-divider></mat-divider>
<mat-list>
  <mat-list-item *ngFor="let country of stats; let i=index">
    <div class="country" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="truncate" fxFlex="25" fxFlex.lt-sm="40">{{ i + 1 }}. <span>{{ country.Country }}</span></div>
      <div fxFlex="10" fxFlex.lt-sm="20"><div>Confirmed</div><div>{{ country.TotalConfirmed |number }}</div></div>
      <div fxFlex="10" fxFlex.lt-sm="20"><div>Deaths</div><div>{{ country.TotalDeaths |number }}</div></div>
      <div fxFlex="10" fxFlex.lt-sm="20"><div>Recovered</div><div>{{ country.TotalRecovered |number }}</div></div>
    </div>
  </mat-list-item>
</mat-list>