h2 {
  font-weight: bold;
}
#global, #india {
  font-weight: bold;
  text-align: center;
}
.stats {
  margin: 2rem 1rem;
}
.stat {
  border-radius: 10px;
  background: #505050;
  text-align: center;
  color: white;
}
.stat h4 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0.25rem;
  font-weight: 500;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.stat div {
  padding: 2rem 0;
  font-size: 2rem;
}
@media only screen and (max-width: 600px) {
  .stats {
    margin: 1rem 0.5rem;
  }
  .stat div {
    padding: 1rem 0;
    font-size: 1.15rem;
  }
}
.new-cases h4 {
  background: blue;
  color: black;
}
.deaths h4 {
  background: red;
}
.recovered h4 {
  background: green;
}